In [2]:
import  pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('books_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [5]:
df.columns

Index(['Title', 'description', 'authors', 'image', 'previewLink', 'publisher',
       'publishedDate', 'infoLink', 'categories', 'ratingsCount'],
      dtype='object')

In [10]:
df = df[['Title','categories']]

In [11]:
df.isnull().sum()

Title             1
categories    41199
dtype: int64

In [12]:
df.nunique()

Title         212403
categories     10883
dtype: int64

In [13]:
df2 = df.copy()

In [46]:
df2['categories']=df2['categories'].str.split('[').str[1].str[1:-2]

In [47]:
df2['categories'].isnull().sum()

41199

In [54]:
geners=list(df2['categories'].unique())

In [59]:
empty_index =list(df2[df2['categories'].isnull()].index)

In [61]:
df3=df2[df2['categories'].isnull()]

In [62]:
df3

                                                    Title categories
4       Nation Dance: Religion, Identity and Cultural ...        NaN
6                              The Overbury affair (Avon)        NaN
7                 A Walk in the Woods: a Play in Two Acts        NaN
27                 Thomas Jefferson, (American statesmen)        NaN
29      Dealing With Disappointment: Helping Kids Cope...        NaN
...                                                   ...        ...
212393                               The Genesis Protocol        NaN
212395          Essential Guide to Hawaii, the Big Island        NaN
212396                                              Sofia        NaN
212401                                              Mamaw        NaN
212403  Student's Solutions Manual for Johnson/Mowry's...        NaN

[41199 rows x 2 columns]

In [ ]:
import pandas as pd
from transformers import pipeline

# Load the zero-shot classification pipeline
zero_shot_classifier = pipeline("zero-shot-classification")

# Sample DataFrame with text data
df = df3

# Define candidate labels
candidate_labels = geners

# Perform zero-shot classification for each row in the DataFrame
results_list = []
list_result=[]
for index, row in df.iterrows():
    input_text = row['Title']
    results = zero_shot_classifier(input_text, candidate_labels)
    results_list.append(results)

# Process and print the results
for i, results in enumerate(results_list, 1):
    input_text = df.loc[i - 1, 'Title']
    print(f"Input Text {i}: {input_text}")
    
    
    for result in results:
        label = result["label"]
        list_result.append(result['label'])
        score = result["score"]
        print(f"Label: {label}, Score: {score}")
    
    print()

No model was supplied, defaulted to roberta-large-mnli and revision 130fb28 (https://huggingface.co/roberta-large-mnli).
Using a pipeline without specifying a model name and revision in production is not recommended.
All PyTorch model weights were used when initializing TFRobertaForSequenceClassification.

All the weights of TFRobertaForSequenceClassification were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFRobertaForSequenceClassification for predictions without further training.